section#header {
    display: flex;
    flex-wrap: wrap;
}

section#header header {
    height: 10vh;
    width: 100vw;
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    z-index: 2;
}

section#header header #left-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#header header .burger {
    cursor: pointer;
    transition: all 0.3s ease;
}

section#header header .fries {
    cursor: pointer;
    transition: all 0.3s ease;
}

section#header header .burger:hover div, section#header header .fries:hover div {
    background: var(--color-off-white)
}

section#header header .burger div {
    width: 25px;
    height: 3px;
    background-color: var(--color-white);
    margin: 5px 0px;
    transition: all 0.3s ease;
}

section#header header .fries div {
    width: 15px;
    height: 3px;
    background-color: var(--color-white);
    margin: 5px 0px;
    transition: all 0.3s ease;
}

section#header header .fries div:nth-child(1) {
    width: 25px;
}

section#header header .fries div:nth-child(2) {
    width: 15px;
}

section#header header .fries div:nth-child(3) {
    width: 10px;
}

section#header header h3 {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    margin-left: 30px;
    font-family: var(--font-title);
}

section#header header h3 span {
    color: var(--color-off-white);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}

section#header header #logout {
    top: 45%;
    right: 0px;
    font-family: var(--font-text);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section#header header #logout p {
    margin-left: 6px;
    transition: all 0.3s ease;
}

section#header header #logout:hover p {
    transform: translateX(8px);
}

section#header aside#drawer {
    height: 90vh;
    width: 20vw;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 14px 20px rgb(134, 134, 134);
    transition: all 0.3s ease;
}

section#header aside#drawer .option {
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    border-radius: 6px;
    background: transparent;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow-x: hidden;
    color: var(--color-text);
}

section#header aside#drawer .option.selected {
    color: var(--color-white);
}

section#header aside#drawer span#anim {
    width: calc(100% - 20px);
    height: 60px;
    border-radius: 6px;
    background: var(--color-primary);
    position: absolute;
    transition: all 0.4s ease;
}

section#header aside#drawer.open {
    width: calc(80px);
}

section#header aside#drawer p {
    margin-left: 10px;
}

section#header aside#drawer.open p {
    display: none;
}

section#header aside#drawer .icon {
    width: 20px;
    height: auto;
}

section#header aside#drawer .option.selected .icon {
    transition: all 0.3s ease;
}

section#header .link {
    display: inline;
}

@media only screen and (max-width: 1024px) {

    section#header aside#drawer {
        width: 35vw;
    }
}

@media only screen and (max-width: 768px) {

    section#header aside#drawer {
        width: 80vw;
    }

    section#header header h3 {
        font-size: 22px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 480px) {

    section#header header {
        padding: 0px 14px;
    }

    section#header aside#drawer {
        width: 80vw;
    }

    section#header header h3 {
        margin-left: 16px;
    }
}